<template lang="html">
  <RadSideDrawer ref="drawer" drawerLocation="Left" gesturesEnabled="true" :drawerTransition="transition">
    <StackLayout ~drawerContent backgroundColor="#ffffff">
      <slot name="drawerContent"></slot>
    </StackLayout>
    <Frame ~mainContent ref="drawerMainContent">
      <slot name="mainContent"></slot>
    </Frame>
  </RadSideDrawer>
</template>

<script>
    import { SlideInOnTopTransition } from 'nativescript-ui-sidedrawer';
    import { screen } from 'tns-core-modules/platform'
    import { appState } from '../app'
    
    export default {
      computed:{
        showToast(){ return appState.showToast },
        toastMessage(){ return appState.toastMessage }
      },
      methods:{
        toggleDailyObd: (index)=>this.$emit('toggleDailyObd', index)
      },
      data () {
        return {
          screenWidth: screen.screenWidth,
          //props: ['showToast', 'toastMessage'],
          transition: new SlideInOnTopTransition()
        }
      }
  }
</script>

<style scoped lang="scss">
    // Start custom common variables
    @import '~@nativescript/theme/scss/variables/forest';
    // End custom common variables

    // Custom styles
</style>
