<template>
    <Page class="page">
        <ActionBar class="action-bar">
            <!-- 
            Use the NavigationButton as a side-drawer button in Android
            because ActionItems are shown on the right side of the ActionBar
            -->
            <NavigationButton ios:visibility="collapsed" icon="res://menu" @tap="onDrawerButtonTap"></NavigationButton>
            <!-- 
            Use the ActionItem for IOS with position set to left. Using the
            NavigationButton as a side-drawer button in iOS is not possible,
            because its function is to always navigate back in the application.
            -->
            <ActionItem icon="res://menu" 
                android:visibility="collapsed" 
                @tap="onDrawerButtonTap"
                ios.position="left">
            </ActionItem>
            <Label class="action-bar-title" :text="actionBarMessage"></Label>
        </ActionBar>
        <TabView>
            <TabViewItem title="Daily">
                <GridLayout rows="auto auto * auto" class="page__content">
                    <Label row="0" class="h2" text="Daily Obediences" backgroundColor="rgba(0,0,0,0)" marginBottom="0" padding="10" />
                    <StackLayout row="1" marginTop="0" marginBottom="0" class="hr" />
                    <ListView row="2" for="(obd, index) in dailyObds" verticalAlignment="stretch" separatorColor="transparent">
                        <v-template>
                            <GridLayout rows="auto auto auto" marginBottom="5" columns="* auto" backgroundColor="rgba(0,0,0,.5)">
                                <StackLayout col="0" row="0" orientation="horizontal">
                                    <Label paddingLeft="0" marginLeft="0" :text="obd.title" class="h3" />
                                    <Switch v-model="obd.notify" @checkedChange="toggleDailyNotification(index)" />
                                </StackLayout>
                                <Label col="0" row="1" paddingLeft="0" marginLeft="0" class="footnote font-italic">Notification at {{ tf2t(obd.notifyAt) }}{{ !obd.notify ? ' is currently disabled' : '' }}.</Label>
                                <Button col="1" row="0" rowSpan="2" backgroundColor="#9F0000" class="-rounded-lg font-weight-bold" text="X" @tap="deleteDailyObd(obd.key,obd.title)" />
                            </GridLayout>
                        </v-template>
                    </ListView>
                    <GridLayout row="3" backgroundColor="rgba(0,0,0,.5)" rows="auto auto auto" columns="* auto">
                        <TextField row="0" col="0" v-model="dailyTitle" hint="New obedience title" />
                        <Button row="0" col="1" rowSpan="2" @tap="submitDailyObd" text="Add" class="-rounded-sm" />
                        <TextField row="1" col="0" editable="false" @tap="toggleTimePicker">Notify at: {{tf2t(`${dailyTime.getHours()}:${dailyTime.getMinutes()}`)}}</TextField>
                        <TimePicker row="2" col="0" v-model="dailyTime" :visibility="dailyPickerVisibility" />
                    </GridLayout>
                </GridLayout>
            </TabViewItem>
            <TabViewItem title="Scheduled">
                <GridLayout rows="auto auto * auto" class="page__content">
                    <GridLayout row="0" columns="auto * auto">
                        <Button col="0" text="<" @tap="schedDateDown" />
                        <Label col="1" class="h2" :text="schedTitle" backgroundColor="rgba(0,0,0,0)" textAlignment="center" marginBottom="0" padding="10" />
                        <Button col="2" text=">" @tap="schedDateUp" />
                    </GridLayout>
                    <StackLayout row="1" marginTop="0" marginBottom="0" class="hr" />
                    <ListView row="2" for="(obd, index) in schedObds" verticalAlignment="stretch" separatorColor="transparent">
                        <v-template>
                            <GridLayout rows="auto auto auto" marginBottom="5" columns="* auto" backgroundColor="rgba(0,0,0,.5)">
                                <StackLayout col="0" row="0" orientation="horizontal">
                                    <Label col="0" row="0" paddingLeft="0" marginLeft="0" :text="obd.title" class="h3" />
                                    <Switch v-model="obd.notify" @checkedChange="toggleSchedNotification(index)" />
                                </StackLayout>
                                <Label col="0" row="1" paddingLeft="0" marginLeft="0" class="footnote font-italic">{{ dateString2Verbose(obd.date) }} at {{ tf2t(obd.time) }}{{ !obd.notify ? ' (notification disabled)' : '' }}.</Label>
                                <Button col="1" row="0" rowSpan="2" backgroundColor="#9F0000" class="-rounded-lg font-weight-bold" text="X" @tap="deleteSchedObd(obd.key,obd.title)" />
                            </GridLayout>
                        </v-template>
                    </ListView>
                    <GridLayout row="3" columns="* * auto" backgroundColor="rgba(0,0,0,.5)" rows="auto auto auto">
                        <TextField row="0" col="0" colSpan="2" v-model="dailyTitle" hint="New obedience title" />
                        <Button row="0" col="2" rowSpan="2" @tap="submitSchedObd" text="Add" class="-rounded-sm" />
                        <TextField row="1" col="0" editable="false" @tap="toggleTimePicker">Notify at: {{tf2t(`${dailyTime.getHours()}:${dailyTime.getMinutes()}`)}}</TextField>
                        <TextField row="1" col="1" editable="false" @tap="toggleDatePicker">Date: {{ dateString }}</TextField>
                        <TimePicker row="2" col="0" colSpan="2" v-model="dailyTime" :visibility="dailyPickerVisibility" />
                        <DatePicker row="2" col="0" colSpan="2" v-model="schedDate" :visibility="schedPickerVisibility" />
                    </GridLayout>
                </GridLayout>
            </TabViewItem>
        </TabView>
    </Page>
</template>

<script>
    import * as utils from "~/shared/utils";
    import { appState } from '../app'
    import * as fs from '../shared/fs'
    import { LocalNotifications as ln } from 'nativescript-local-notifications'
    import SelectedPageService from "../shared/selected-page-service";

    const notificationPermission = false
    const monthNames = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
    export default {
        mounted() {
            SelectedPageService.getInstance().updateSelectedPage("Manage");
            ln.requestPermission().then(
                ()=>notificationPermission = true
            )
        },
        data(){
            return{
                dailyTitle: '',
                dailyTimePicker: false,
                schedDatePicker: false,
                dailyTime: new Date(),
                schedDate: new Date(),
                schedYear: new Date().getFullYear(),
                schedMonth: new Date().getMonth()
            }
        },
        //props: ['dailyObds'],
        computed: {
            dailyObds(){ 
                return appState.dailyObds
                .sort((a,b)=>{
                    const aNum = parseInt(a.notifyAt.replace(':',''))
                    const bNum = parseInt(b.notifyAt.replace(':',''))
                    return aNum - bNum
                })
            },
            actionBarMessage(){ return appState.showToast ? appState.toastMessage : 'Manage Obediences' },
            dailyPickerVisibility(){ return this.dailyTimePicker?'visible':'collapsed' },
            schedPickerVisibility(){ return this.schedDatePicker?'visible':'collapsed' },
            schedTitle(){ return `Scheduled Obediences for ${monthNames[this.schedMonth]}, ${this.schedYear}` },
            schedObds(){ 
                return appState.scheduledObds.filter(o => o.date.substring(0,6) === `${this.schedYear}${this.schedMonth < 10 ? `0${this.schedMonth+1}` : this.schedMonth+1}`)
                .sort((a,b)=>{
                    const aNum1 = parseInt(a.date)
                    const bNum1 = parseInt(b.date)
                    const aNum2 = parseInt(a.time.replace(':',''))
                    const bNum2 = parseInt(b.time.replace(':',''))
                    return aNum1 - bNum1 || aNum2 - bNum2
                })
            },
            dateString(d){
                let output = ''
                const dateNum = this.schedDate.getDate()
                const dayNames = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
                const dateLetters = ()=>{
                    if(dateNum === 1 || dateNum-20 === 1 || dateNum-30 === 1) return 'st'
                    if(dateNum === 2 || dateNum-20 === 2) return 'nd'
                    if(dateNum === 3 || dateNum-20 === 3) return 'rd'
                    return 'th'
                }
                output = dayNames[this.schedDate.getDay()] + ', '
                output += monthNames[this.schedDate.getMonth()] + ' '
                output += String(dateNum) + dateLetters(dateNum) + ', '
                output += String(this.schedDate.getFullYear())
                return output
            }
        },
        methods: {
            onDrawerButtonTap() {
                utils.showDrawer();
            },
            tf2t(timeString){
                return utils.tf2t(timeString)
            },
            deleteDailyObd(key, title){
                confirm(`Are you sure you want to delete "${title}"?`).then((res)=>{
                    if(res===true){
                        appState.dailyObds = appState.dailyObds.filter(o=>o.key!==key)
                        fs.saveDailyObds()
                        ln.cancel(key)
                    }
                })
            },
            deleteSchedObd(key, title){
                confirm(`Are you sure you want to delete "${title}"?`).then((res)=>{
                    if(res===true){
                        appState.scheduledObds = appState.scheduledObds.filter(o=>o.key!==key)
                        fs.saveSchedObds()
                        ln.cancel(key)
                    }
                })
            },
            submitDailyObd(){
                if(this.dailyTitle.length > 0){
                    const key = new Date().getTime()
                    appState.dailyObds = [...appState.dailyObds, {
                        key: key,
                        title: this.dailyTitle,
                        completedDate: 'incomplete',
                        notifyAt: utils.date2TimeString(this.dailyTime),
                        notify: true
                    }]
                    ln.schedule([{
                        id: key,
                        title: 'Obediences',
                        subtitle: 'You have an obedience scheduled for this time.',
                        body: `It's time for: ${this.dailyTitle}`,
                        at: this.dailyTime,
                        interval: 'day',
                        forceShowWhenInForeground: true
                    }])
                    this.dailyTitle = ''
                    this.dailyTimePicker = false
                    fs.saveDailyObds()
                } else alert("An obedience title is required.")
            },
            submitSchedObd(){
                if(this.dailyTitle.length > 0){
                    const key = new Date().getTime()
                    appState.scheduledObds = [...appState.scheduledObds, {
                        key: key,
                        title: this.dailyTitle,
                        completed: false,
                        time: utils.date2TimeString(this.dailyTime),
                        date: utils.date2String(this.schedDate),
                        notify: true
                    }]
                    const notificationDate = new Date(
                        this.schedDate.getFullYear(),
                        this.schedDate.getMonth(),
                        this.schedDate.getDate(),
                        this.dailyTime.getHours(),
                        this.dailyTime.getMinutes()
                    )
                    ln.schedule([{
                        id: key,
                        title: 'Obediences',
                        subtitle: 'You have an obedience scheduled for this time.',
                        body: `It's time for: ${this.dailyTitle}`,
                        at: notificationDate,
                        forceShowWhenInForeground: true
                    }])
                    this.dailyTitle = ''
                    this.dailyTimePicker = false
                    this.schedDatePicker = false
                    fs.saveSchedObds()
                } else alert("An obedience title is required.")
            },
            schedDateUp(){
                if(this.schedMonth < 11) ++this.schedMonth
                else { this.schedMonth = 0; ++this.schedYear }
            },
            schedDateDown(){
                if(this.schedMonth > 0) --this.schedMonth
                else { this.schedMonth = 11; --this.schedYear }
            },
            toggleTimePicker(){
                if(this.dailyTimePicker === true){
                    this.dailyTimePicker = false
                } else {
                    this.schedDatePicker = false
                    this.dailyTimePicker = true
                }
            },
            toggleDatePicker(){
                if(this.schedDatePicker === true){
                    this.schedDatePicker = false
                } else {
                    this.dailyTimePicker = false
                    this.schedDatePicker = true
                }
            },
            toggleDailyNotification(i){
                fs.saveDailyObds()
                const obd = this.dailyObds[i]
                if(obd.notify === false){
                    ln.cancel(obd.key)
                }else{
                    const d = new Date()
                    const time = obd.notifyAt.split(":")
                    ln.schedule([{
                        id: obd.key,
                        title: 'Obediences',
                        subtitle: 'You have an obedience scheduled for this time.',
                        body: `It's time for: ${obd.title}`,
                        at: new Date(d.getFullYear(), d.getMonth(), d.getDate(), parseInt(time[0]), parseInt(time[1])),
                        interval: 'day',
                        forceShowWhenInForeground: true
                    }])
                }
            },
            toggleSchedNotification(i){
                fs.saveSchedObds()
                const obd = this.schedObds[i]
                if(obd.notify === false){
                    ln.cancel(obd.key)
                }else{
                    const d = new Date()
                    const notificationDate = new Date(
                        parseInt(obd.date.substring(0,4)),
                        parseInt(obd.date.substring(4,6))-1,
                        parseInt(obd.date.substring(6,8)),
                        parseInt(obd.time.split(':')[0]),
                        parseInt(obd.time.split(':')[1])
                    )
                    ln.schedule([{
                        id: obd.key,
                        title: 'Obediences',
                        subtitle: 'You have an obedience scheduled for this time.',
                        body: `It's time for: ${obd.title}`,
                        at: notificationDate,
                        forceShowWhenInForeground: true
                    }])
                }
            },
            dateString2Verbose(d){
                return utils.dateString2Verbose(d)
            }
        }
    };
</script>

<style scoped lang="scss">
    // Start custom common variables
    @import '~@nativescript/theme/scss/variables/forest';
    // End custom common variables

    // Custom styles
</style>
