<template>
    <Page class="page">
        <ActionBar class="action-bar">
            <!-- 
            Use the NavigationButton as a side-drawer button in Android
            because ActionItems are shown on the right side of the ActionBar
            -->
            <NavigationButton ios:visibility="collapsed" icon="res://menu" @tap="onDrawerButtonTap"></NavigationButton>
            <!-- 
            Use the ActionItem for IOS with position set to left. Using the
            NavigationButton as a side-drawer button in iOS is not possible,
            because its function is to always navigate back in the application.
            -->
            <ActionItem icon="res://menu" 
                android:visibility="collapsed" 
                @tap="onDrawerButtonTap"
                ios.position="left">
            </ActionItem>
            <Label class="action-bar-title" :text="actionBarMessage"></Label>
        </ActionBar>
        <TabView>
            <TabViewItem title="Daily">
                <GridLayout rows="auto auto *" class="page__content">
                    <Label row="0" class="h2" text="Daily Obediences" backgroundColor="rgba(0,0,0,0)" marginBottom="0" padding="10" />
                    <StackLayout  col="0" row="1" colSpan="2" marginTop="0" marginBottom="0" class="hr" />
                    <ListView row="2" for="(obd, index) in dailyObds" separatorColor="transparent">
                        <v-template>
                            <GridLayout rows="auto auto" marginBottom="5" columns="auto *" backgroundColor="rgba(0,0,0,.5)">
                                <check-box col="0" row="0" rowSpan="2" marginRight="0" fontSize="30" boxType="circle" :checked="checkCompletedDate(obd.completedDate)" @checkedChange="()=>toggleDailyObd(index)" backgroundColor="rgba(0,0,0,0)" />
                                <Label col="1" row="0" paddingLeft="0" marginLeft="0" :text="obd.title" class="h3" />
                                <Label col="1" row="1" paddingLeft="0" marginLeft="0" class="footnote font-italic">Notification at {{ tf2t(obd.notifyAt) }}.</Label>
                            </GridLayout>
                        </v-template>
                    </ListView>
                    <Label row="2" v-if="!dailyObds.length" verticalAlignment="top" text="Nothing to show (yet). Go to the Daily tab on the Management page to add something." />
                </GridLayout>
            </TabViewItem>
            <TabViewItem title="Scheduled">
                <GridLayout rows="auto auto *" class="page__content">
                    <Label row="0" class="h2" text="Obediences Scheduled for Today" backgroundColor="rgba(0,0,0,0)" marginBottom="0" padding="10" />
                    <StackLayout  col="0" row="1" colSpan="2" marginTop="0" marginBottom="0" class="hr" />
                    <ListView row="2" for="(obd, index) in scheduledObds" separatorColor="transparent">
                        <v-template>
                            <GridLayout v-if="scheduledObds.length" rows="auto auto" marginBottom="5" columns="auto *" backgroundColor="rgba(0,0,0,.5)">
                                <check-box col="0" row="0" rowSpan="2" marginRight="0" fontSize="30" boxType="circle" :checked="checkSchedCompleted(index)" @checkedChange="()=>toggleScheduledObd(index)" backgroundColor="rgba(0,0,0,0)" />
                                <Label col="1" row="0" paddingLeft="0" marginLeft="0" :text="obd.title" class="h3" />
                                <Label col="1" row="1" paddingLeft="0" marginLeft="0" class="footnote font-italic">Notification at {{ tf2t(obd.time) }}.</Label>
                            </GridLayout>
                        </v-template>
                    </ListView>
                    <Label row="2" verticalAlignment="top" v-if="!scheduledObds.length" text="Nothing to show for today (yet). Go to the Scheduled tab on the Management page to add something." />
                </GridLayout>
            </TabViewItem>
        </TabView>
    </Page>
</template>

<script>
    import * as utils from "~/shared/utils";
    import SelectedPageService from "../shared/selected-page-service";
    import { screen } from "tns-core-modules/platform"
    import { appState } from '../app'
    import * as fs from '../shared/fs'

    export default {
        //props: ['dailyObds', 'showToast', 'setRootObj'],
        computed:{
            dailyObds(){ return appState.dailyObds.sort((a,b)=>{
                const aNum = parseInt(a.notifyAt.replace(':',''))
                const bNum = parseInt(b.notifyAt.replace(':',''))
                return aNum - bNum
            }) },
            scheduledObds(){ 
                return appState.scheduledObds
                .filter(o => o.date === utils.date2String(new Date()))
                .sort((a,b)=>{
                const aNum = parseInt(a.time.replace(':',''))
                const bNum = parseInt(b.time.replace(':',''))
                return aNum - bNum
            }) },
            showToast(){ return appState.showToast },
            screenHeight(){ return screen.mainScreen.heightDIPs },
            screenWidth(){ return screen.mainScreen.widthDIPs },
            actionBarMessage(){ return appState.showToast === false ? "Today's Obediences" : appState.toastMessage }
        },
        mounted() {
            SelectedPageService.getInstance().updateSelectedPage("Today");
        },
        methods: {
            onDrawerButtonTap() {
                utils.showDrawer();
            },
            tf2t(timeString){
                return utils.tf2t(timeString)
            },
            toggleDailyObd(index){
                const today = utils.date2String(new Date())
                const isComplete = appState.dailyObds[index].completedDate === today
                appState.dailyObds[index].completedDate = isComplete ? 'incomplete' : today
                fs.saveDailyObds()
            },
            toggleScheduledObd(index){
                appState.scheduledObds[index].completed = appState.scheduledObds[index].completed ? false : true
                fs.saveSchedObds()
            },
            checkCompletedDate(dateString){
                const today = utils.date2String(new Date())
                return dateString === today ? true : false
            },
            checkSchedCompleted(index){
                return appState.scheduledObds[index].completed ? true : false
            }
        }
    };
</script>

<style scoped lang="scss">
    // Start custom common variables
    @import '~@nativescript/theme/scss/variables/forest';
    // End custom common variables

    // Custom styles
</style>
